body{
    background-color: #fcfdff !important;
    color: #0B132B;
}

.container.head {
    position: relative;
    text-align: center;
 }

.head-text {
    padding-top: 30px;
    position: absolute;
    top: 8px;
    right: 16px;
	font-family: 'Playfair Display', serif;
    font-size: 6vh;
}

.foot-text {
    padding-top: 30px;
    position: absolute;
    bottom: 15%;
    right: 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 4vh;
}

@media only screen and (max-width: 600px) {
    .foot-text {
        position: absolute;
        bottom: 8px;
        right: 16px;
        font-family: 'Raleway', sans-serif;
        font-size: 4vh;
    }
}

h3,h4,h5 {
    font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Raleway', sans-serif;
}
.content > p {
    top: 18px;
}
p > a {
    color: #5BC0BE;
}

.footer {
    padding: 6rem 0 4rem 0;
    background-color: #0B132B;
    color: #3A506B;
}

a.email {
    color: #5BC0BE;
}

.card {
    background-color: #fcfdff !important;
    border: 0 !important;
}
.card-header{
    background-color: #e6eeff !important;
}

.btn-link > h5{
    color: #0B132B;
    text-decoration: none !important;
}

.btn-link:hover{
    text-decoration: none !important;
}

#about, #portfolio, #contact, .head{
    padding-top: 30px;
}

button{
    text-align: left !important;
}