body{
    background-color: #fcfdff !important;
    color: #0B132B;
}

.container.head {
    position: relative;
    text-align: center;
 }

.head-text {
    position: absolute;
    top: 8px;
    right: 16px;
	font-family: 'Playfair Display', serif;
    font-size: 6vh;
}

.foot-text {
    position: absolute;
    bottom: 15%;
    right: 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 4vh;
}

h3,h4 {
    font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Raleway', sans-serif;
}
.content > p {
    top: 18px;
}
p > a {
    color: #5BC0BE;
}

.footer {
    padding: 6rem 0 4rem 0;
    background-color: #0B132B;
    color: #3A506B;
}

a.email {
    color: #5BC0BE;
}

.collapsible {
    border: none;    
    outline: none;
    background-color: #fcfdff;
    cursor: pointer;
}

/* .collapsible:hover{
    background-color: #e6eeff;
} */

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;    
    background-color: #fcfdff;
  }