body{
    background-color: rgb(252, 253, 255) !important;
    color: #0B132B;
}

.container.head {
    position: relative;
    text-align: center;
 }

.head-text {
    position: absolute;
    top: 8px;
    right: 16px;
	font-family: 'Playfair Display', serif;
    font-size: 6vh;
}

.foot-text {
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-family: 'Raleway', sans-serif;
    font-size: 4vh;
}

h3 {
    font-family: 'Playfair Display', serif;
}

p {
	font-family: 'Raleway', sans-serif;
}

.footer {
    padding: 6rem 0 4rem 0;
    background-color: #0B132B;
    color: #3A506B;
}

a.email {
    color: #5BC0BE;
}