body {
	margin: 0 !important;
    padding: 0 !important;
    position: relative;
}
h1 {
	text-align: right;
	top: 50%;
	font-family: 'Playfair Display', serif;
	font-size: 6vh;
}

p {
	font-family: 'Raleway', sans-serif;
}

.fixed-bg {
    background-image: url("files/background.JPG");
    min-height: 100vh;
    min-width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.details {
	font-family: 'Raleway', sans-serif;
	font-size: 4vh;
	text-align: right;
	padding-top: 70vh;
	padding-right: 2vw; 
}

.spotify-playlist{
    width:55%;
    margin-right:2%;
    float: left;
}
.spotify-playlist iframe{
   width:100%;
}
.description {
    width:42%;
    float: left;
    top: 50%;
}
.clearfix{
    clear:both
}